/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
.font-12 {
  font-size: 12px;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-30 {
  font-size: 30px;
}
.font-40 {
  font-size: 40px;
}
.font-48 {
  font-size: 48px;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
.pdf-btn-color{
  background-color: #0DCAF0;
}

/* new css atart here (24-may-2023)  */
/* Common css here  */
/**
 * @Index scss for (Template/Project Name)
 * @project     -
 * @author      - 
 * @created_by  - Feedback Rahman
 * @created_at  - 
 * @modified_by -
 */

/* LiAdorNoirritLight */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
  font-family: "LiAdorNoirrit";
  font-style: normal;
  src: url("../public/fonts/Bangla/LiAdorNoirritLight.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "LiAdorNoirrit";
  font-style: normal;
  src: url("../public/fonts/Bangla/LiAdorNoirritRegular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "LiAdorNoirrit";
  font-style: normal;
  src: url("../public/fonts/Bangla/LiAdorNoirritBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SolaimanLipi";
  font-style: normal;
  src: url("../public/fonts/Bangla/SolaimanLipi.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "NotoSans";
  font-style: normal;
  src: url("../public/fonts/Bangla/NotoSansBengali-Regular.ttf");
  font-weight: 600;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "NotoSans";
  margin: 0;
  font-size: 16px;
}
.container {
  max-width: 1320px !important;
}
a {
  text-decoration: none;
}
:root {
  /* --r: 211;
	--g: 171;
	--b: 86;
	--a: 1;
	--main-color: rgba(var(--r), var(--g), var(--b), var(--a)); */
  --main-color: green;
  --main-highlight: #C3161C;
}

/* // helper class start here  */
.section_padding {
  padding: 30px 0;
}

/* // custome button start here  */
.goBtn {
  display: inline-flex;
  align-items: center;
  padding: 15px 18px;
  line-height: 0 !important;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.goBtn:hover {
  background-color: var(--main-highlight);
  color: #fff;
  opacity: 0.8;
  padding: 15px 18px;
}

/* // custome button end here  */

/* // view all button start */
.viewAllBtn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
}
.viewAllBtn {
  font-size: 14px;
}
/* // view all button end */

/* // Section title start here  */
.sectionTitle {
  position: relative;
}
.sectionTitle h2 {
  display: inline-block;
  font-size: 30px;
  color: #333;
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.sectionTitle h2::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
}

.sectionTitle p {
  font-size: 13px;
  /* max-width: 500px; */
}

/* section title for opportunity start */
.sectionTitleopportunity {
  position: relative;
}
.sectionTitleopportunity h2 {
  display: inline-block;
  font-size: 30px;
  color: #333;
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.sectionTitleopportunity h2::after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 4px;
  position: absolute;
  left: -42px;
  bottom: 0;
  background-color: var(--main-color);
}
.sectionTitleopportunity p {
  font-size: 12px;
  /* max-width: 500px; */
}
.borderbox {
  border: 2px solid green;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 9px 4px;
}
/* // section title center  */
.sectionTitle.center {
  text-align: center;
}
.sectionTitle.center h2 {
  display: inline-block;
}
.sectionTitle.center p {
  margin: auto;
}

@media (max-width: 767px) {
  .viewAllBtn {
    top: initial !important;
    top: 100% !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
  .sectionTitle {
    text-align: center !important;
    position: initial;
  }

  #news .container,
  #events .container,
  #publications .container {
    position: relative;
    padding-bottom: 30px;
  }
}

/* Menu css start here  */
#menuBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  position: fixed;
  background-color: #aaaaaabd;
}
#menuBar .nav-link {
  font-family: "SolaimanLipi";
  margin-left: 15px;
  font-size: 20px !important;
  color: white !important;
}

#menuBar .dropdown-menu {
  min-width: 220px;
  padding-top: 15px;
  padding-bottom: 12px;
  box-shadow: none;
}
#menuBar .dropdown-item {
  padding: 6px 30px !important;
}
.active {
  color: var(--main-color) !important;
}
.headerLogo {
  max-width: 70px !important;
  margin-right: 50px;
}

.language {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  color: var(--main-color);
  position: relative;
  cursor: pointer;
  min-width: 120px;
}
.language span {
  font-size: 14px;
}
.language i {
  padding-left: 15px;
}

.languageName .dropdown-item {
  font-size: 14px !important;
}
.languageName {
  position: absolute;
  top: calc(100% + 12px);
  left: 30px;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.languageName > .dropdown-item {
  color: #333;
  margin-top: 7px;
  margin-bottom: 7px;
}

.languageName::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-radius: 3px;
}

.language:hover .languageName {
  opacity: 1;
  left: 0;
  visibility: visible;
}

@media (max-width: 991px) {
  #menuBar {
    background-color: #aaaaaabd;
  }
  #menuBar .language {
    display: inline-block !important;
    background-color: #fff;
    padding-bottom: 0;
    padding-top: 10px !important;
  }
  #menuBar .navbar-collapse {
    text-align: center !important;
  }
  #menuBar .languageName {
    position: initial !important;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    padding-bottom: 5px;
    padding-top: 0;
  }

  #menuBar .dropdown-item {
    padding: 0px 30px !important;
  }
  .nav_toggle {
    background-color: #fff !important;
  }
  .svg_resposi {
    display: inline-block;
  }
  #menuBar .nav-link .custom-btn {
    margin-left: 50px !important;
  }

  .navbar-collapse {
    background-color: #fff;
    padding-bottom: 20px;
  }
  #menuBar .navbar-nav {
    align-items: center;
  }
  #menuBar .nav-link {
    color: #008000 !important;
  }
  #menuBar .languageName::after {
    display: none;
  }
}

/* Menu css end here  */

/* Welcome Css start here  */
#welcomeSec {
  background-image: url("../public/img/welcomeBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh !important;
}
#welcomeSec .welcomeImg {
  max-width: 80%;
  width: 100%;
  object-fit: contain;
}
#welcomeSec .welContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#welcomeSec .welContent .title {
  font-family: "NotoSans";
  margin-top: 100px;
  line-height: 55px;
  font-size: 38px;
  color: #333;
}
#welcomeSec .welContent .subTitle {
  font-family: "NotoSans";
  line-height: 28px;
  font-size: 18px;
}

@media (min-width: 992px) {
  #welcomeSec .welcomeBox {
    display: flex;
  }
  #welcomeSec .welContent,
  #welcomeSec .welImage {
    width: 50%;
    height: 100vh;
  }
  #welcomeSec .welImage {
    display: flex;
    align-items: end;
    justify-content: end;
  }
  #welcomeSec .cutomeBtn {
    margin-top: 30px !important;
  }
}
@media (max-width: 991px) {
  #welcomeSec {
    height: auto !important;
  }
  #welcomeSec .welcomeImg {
    max-width: 320px;
    width: 100%;
  }
  #welcomeSec .welImage {
    margin-top: 50px;
    margin-left: 0 !important;
    text-align: center;
  }

  #welcomeSec .welContent {
    margin-top: 30px;
  }
  #welcomeSec .title {
    font-size: 28px !important;
    line-height: 40px !important;
  }
  #welcomeSec .cutomeBtn {
    margin-top: 10px;
    text-align: center;
  }
  #welcomeSec .title,
  #welcomeSec .subTitle {
    text-align: center;
  }
}
/* Services CSS Starts here  */

#services {
  background-image: url("../public/img/serviceBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#services .content h5 {
  font-size: 20px;
  font-weight: 600;
}
#services .content p {
  font-size: 16px;
}

#services .serviceItem {
  padding: 20px 30px;
  border-radius: 10px;
}

#services .iconBox {
  flex-shrink: 0 !important;
  width: 60px;
  height: 60px;
  margin-right: 30px;
  border-radius: 100px;
  text-align: center !important;
  line-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .iconBox .icon {
  font-size: 30px;
  color: #fff;
}

.iconBg_1 {
  background-color: #edac5f;
}
.boxBg_1 {
  background-color: rgba(237, 172, 95, 0.15);
}

.iconBg_2 {
  background-color: #2fc5da;
}
.boxBg_2 {
  background-color: rgba(47, 197, 218, 0.15);
}
.iconBg_3 {
  background-color: #70c562;
}
.boxBg_3 {
  background-color: rgba(112, 197, 98, 0.15);
}
.iconBg_4 {
  background-color: #3a37eb;
}
.boxBg_4 {
  background-color: rgba(58, 55, 235, 0.15);
}

@media (max-width: 575px) {
  #services .serviceItem {
    flex-direction: column;
  }
  #services .iconBox {
    margin-bottom: 15px;
    margin-right: 0;
  }
  #services .content {
    text-align: center;
  }
}

/* Services CSS Ends here */

/* Video CSS Starts Here */
#video {
  background-image: url("../public/img/videobg2.jpg");
  box-shadow: inset 0 0 0 2000px rgba(109, 109, 109, 0.65);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

#video .title {
  font-size: 45px;
  color: #fff;
}

#video .videoIcon {
  position: relative;
  height: 100%;
}
#video .videoIcon p {
  text-decoration: underline;
  text-underline-offset: 8px;
}
#video .playbutton {
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  color: #000 !important;
  position: relative;
  z-index: 100 !important;
  background-color: #fff;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video .playbutton::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid #fff;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -100 !important;
  animation-name: videoAnimation1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#video .playbutton::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -100 !important;
  animation-name: videoAnimation2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes videoAnimation2 {
  0% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    width: 105px;
    height: 105px;
    opacity: 0;
  }
}
@keyframes videoAnimation1 {
  0% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    width: 130px;
    height: 130px;
    opacity: 0;
  }
}

.modal-content {
  background-color: transparent !important;
  border: 0px !important;
}
.modal-body {
  padding: 0px !important;
  line-height: 0;
}

@media (max-width: 991px) {
  #video .title {
    font-size: 35px !important;
  }
  #video {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #video .subtitle,
  #video .title {
    text-align: center !important;
  }

  #video .videoIcon {
    flex-direction: column;
    margin-top: 15px;
  }
  #video .videoIcon p {
    margin-left: 0 !important;
    padding-top: 30px;
    padding-bottom: 25px;
  }
}

/* Video CSS Ends here */

/* Members CSS Starts */

.designation {
  font-size: 14px;
  color: #666;
  padding-bottom: 8px;
  margin-bottom: 10px;
  position: relative;
}
.designation::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
}
.memTitle {
  font-size: 18px;
}
.memDetails {
  font-size: 14px;
  margin-bottom: 0;
  color: #666;
}

.memImage {
  flex-shrink: 0 !important;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 100%;
  overflow: hidden;
}
.memImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.memImgbottom {
  width: 300PX;
  height: 300px;
  object-fit: cover;
 
}
.memTitlebottom {
  font-size: 13px;
}

.topMember {
  border-radius: 10px;
  padding: 40px 30px;
  background-color: #f8f8f8;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.AllMember {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.memItem{
  width: 350px;
  margin: auto;
}
.memImage2{
  height: 350px;
}
.memContent{
  margin-top: 20px;
}

.memImage3 {
  flex-shrink: 0 !important;
  /* height: 290px; */
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
 
}

.memContent2 {
  text-align: right !important;
}
.memContent2 .designation {
  display: inline-block;
  text-align: right !important;
}

.memContent2 .designation::after {
  left: initial !important;
  right: 0 !important;
}
/* .memItem2 {
  width: 20%;
} */

@media (max-width: 991px) {
  .topMember {
    border-radius: 0px;
    padding: 0px 0px;
    background-color: transparent;
  }
  .topMember .memImage2 {
    max-height: 230px;
  }
  .memItem{
    width: 230px;
   
  }
 
}
@media (max-width: 767px) {

  #members .memItem {
    flex-direction: column !important;
    width: 318px;
  }
  #members .memImage2 {
    margin-right: 0 !important;
  }
  #members .memContent {
    margin-top: 20px !important;
    text-align: center;
  }
  #members .designation {
    display: inline-block;
  }
  #members .memImage {
    margin-right: 0 !important;
  }
  .topMember .memImage2 {
    max-height: 400px;
  }
}

/* Members CSS Ends */

/* News CSS Starts */

.newsItem {
  border-radius: 5px;
  border-bottom: 1px solid green;
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.imageBox {
  height: 320px;
  width: 100%;
  object-fit: cover;
}
.date {
  font-size: 14px;
  color: #fff;
  background-color: var(--main-color);
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
}
.imageBox img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsSub {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  margin-bottom: 10px;
}
.newsTitle {
  font-size: 13px;
  text-align: left;
}
.newsBtn {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
  color: #444;
  font-weight: 400;
  transition: all 0.3s ease;
}
.newsArrow {
  font-size: 14px;
  margin-left: 5px;
  color: var(--main-color);
  transition: all 0.3s ease;
}
.newsBtn:hover,
.newsBtn:hover .newsArrow {
  /* color: var(--main-highlight); */
  color: green;
}
.news_text {
  font-size: 13px;
  line-height: 1.7rem;
  text-align: justify;
  white-space: break-spaces;
}

/* News CSS Ends */

/* Faq CSS Starts */

#faq .faqImageBox {
  height: 400px;
}
#faq .faqImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#faq .accordion-item:first-of-type {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
#faq .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#faq .accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
#faq .accordion-item:last-of-type {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
#faq .accordion-item {
  border: 0 !important;
}

#faq .accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: var(--main-color) !important;
  box-shadow: none !important;
}
#faq .accordion-button {
  background-color: #eee !important;
  margin-bottom: 10px;
  padding: 12px 20px !important;
}

#faq .accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1) !important;
}
#faq .accordion-button:not(.collapsed)::after {
  transform: scale(0.8) rotate(180deg) !important;
}
#faq .accordion-button::after {
  transform: scale(0.8) !important;
}

#faq .accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

@media (max-width: 991px) {
  #faq .faqImageBox {
    margin-bottom: 10px !important;
  }
}

/* Faq CSS Ends */

/* Events CSS Starts */
#events {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.35),
      rgba(25, 46, 23, 0.91)
    ),
    url("../public/img/works1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#events .sectionTitle h2,
#events .sectionTitle p {
  color: #fff;
}

#events .eventItem {
  background-color: rgba(119, 119, 119, 0.45);
  height: 400px;
  padding: 20px;
  overflow: hidden scroll;
}

#events ::-webkit-scrollbar {
  width: 8px;
}
#events ::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px !important;
}
#events ::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px !important;
}
#events ::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

#events .dateBox {
  width: 90px;
  height: 90px;
  padding: 10px;
  background-color: #172f41;
  color: #fff;
  margin-right: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0 !important;
}

#events .eventsText span {
  display: inline-block;
  font-size: 13px;
  color: #eea904;
  margin-bottom: 5px;
}
#events .eventsText h5 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #fff;
}
#events .eventsText p {
  font-size: 15px;
  margin-bottom: 5px;
  color: #fff;
}
#events .eventBtn {
  color: #fff;
  font-size: 14px;
  transition: all 0.5s;
  background-color: var(--main-color);
  padding: 8px 12px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}
#events .eventBtn:hover {
  color: #fff;
  background-color: var(--main-highlight) !important;
}

#events .nextEventItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  height: 400px;
}
#events .nextEvent {
  display: flex;
}
#events .event_Text {
  padding-top: 100px;
  color: #fff;
}
#events .nextEventTitle {
  font-size: 17px;
  text-align: center;
  width: 100%;
  color: #fff;
  text-shadow: 2px 2px 2px #444;
  margin-bottom: 20px;
}
#events .eventTime {
  width: 80px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  background-color: rgba(23, 47, 65, 0.65);
}
#events .eventTime p {
  margin-bottom: 0;
  font-size: 14px;
}

@media (max-width: 991px) {
  #events .nextEventItem {
    height: auto;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  #events {
    padding-bottom: 90px !important;
  }
}

/* Events CSS Ends */

/* Feedback CSS Starts Here */
#feedback .feedbackBanner {
  background-image: url("../public/img/feedbackbg3.jpg");
  box-shadow: inset 0 0 0 2000px rgba(109, 109, 109, 0.65);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.starIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#feedback .sectionTitle {
  height: 250px;
}

#feedback .sectionTitle h2,
#feedback .sectionTitle {
  color: #fff;
}

#feedback .feedbackItems > .container {
  transform: translateY(-120px);
}
#feedback .feedbackItems {
  background-image: url("../public/img/feedbackBg2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 290px;
}

#feedback .card {
  border-radius: 10px !important;
  border: 1px solid #ddd !important;
  padding: 40px !important;
  height: 330px;
}
#feedback .profileItem {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

#feedback .feedImg {
  flex-shrink: 0;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  object-fit: cover;
}
#feedback .quote {
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 100px;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 60px;
}
#feedback .profileText {
  margin-left: 30px;
}

#feedback .feedbackText {
  font-size: 12px;
  text-align: left;
}

/* #feedback .company{
    border-top: 1px solid #ddd;
    padding-top: 20px;
} */
#feedback .companyImg {
  max-width: 90px;
  object-fit: contain;
}
#feedback .star {
  color: #eea904;
  font-size: 16px;
  margin-left: 4px;
}

#feedback .slick-slide > div {
  margin: 0 15px;
}
#feedback .slick-list {
  margin: 0 -15px;
}

#feedback .slick-prev:before,
#feedback .slick-next:before {
  content: "" !important;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../public/img/icons/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#feedback .slick-prev:before {
  transform: rotate(-180deg);
}

.feedback_name {
  font-size: 15px;
}
.feedback_text {
  color: green;
  font-size: 13px;
  font-weight: 700;
}
/* .feedback_text_decorate{
    font-size: 12px;
    text-align: justify;
} */
@media (min-width: 1250px) {
  #feedback .slick-prev {
    left: -40px;
  }
  #feedback .slick-next {
    right: -40px;
  }
}

@media (max-width: 767px) {
  #feedback {
    position: relative;
  }
  #feedback .profileItem {
    flex-direction: column;
  }
  #feedback .quote {
    top: calc(50% - 25px);
    left: calc(50% + 20px);
  }
  #feedback .profileText {
    margin-left: 0 !important;
    text-align: center;
    margin-top: 10px;
  }
  #feedback .feedbackText {
    text-align: center;
  }
  #feedback .feedbackItems {
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
  #feedback .viewAllBtn {
    top: calc(100% - 110px) !important;
  }
}

/* Feedback CSS Ends Here */

/* Gallery CSS Starts */

.react-photo-gallery--gallery div img {
  width: 25% !important;
  height: 293px !important;
  object-fit: cover;
  margin: 0 !important;
  padding: 5px;
}

@media (max-width: 991px) {
  .react-photo-gallery--gallery div img {
    width: 50% !important;
  }
  .imageBox img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
 
}
@media (max-width: 767px) {
  .react-photo-gallery--gallery div img {
    width: 100% !important;
  }
}

/* Gallery CSS Ends */

/* Publications CSS Starts Here */

.tg-postbook {
  width: 100%;
  float: left;
  padding: 15px 0;
}
.tg-featureimg {
  margin: 0;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  padding: 18px 13px 18px 0px;
}
.tg-postbook:hover .tg-featureimg {
  padding: 18px 13px 18px 0px;
}
.tg-bookimg {
  width: 100%;
  float: left;
  position: relative;
}
.tg-frontcover {
  z-index: 2;
  width: 100%;
  float: left;
  position: relative;
}
.tg-frontcover:before {
  top: 0;
  left: 0;
  z-index: 3;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0.1) 5%,
    rgba(0, 0, 0, 0) 13%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0.1) 5%,
    rgba(0, 0, 0, 0) 13%
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0.1) 5%,
    rgba(0, 0, 0, 0) 13%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
}

.tg-backcover {
  top: 2%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 96%;
  overflow: hidden;
  background: #000;
  position: absolute;
}
.tg-backcover img {
  opacity: 0.6;
  display: block;
}
.tg-backcover:after {
  top: 4%;
  right: 3px;
  z-index: 2;
  width: 15px;
  height: 92%;
  content: "";
  position: absolute;
  background: url("../public/img/bookpattren.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.tg-bookimg img {
  width: 100%;
  height: auto;
  display: block;
}

.tg-postbook:hover .tg-bookimg {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
  -moz-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
  -ms-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
  -o-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
  transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
}
.tg-postbook:hover .tg-backcover {
  left: 18px;
}

.tg-backcover {
  transition: all 0.5s ease-in-out;
}
.tg-bookimg {
  transition: all 0.5s ease-in-out;
}

.rating {
  margin-bottom: 10px;
  padding-top: 10px;
  transform: translateY(-5px);
  display: flex;
  align-items: center;
}
.rating .star {
  color: #eea904;
  font-size: 13px;
  margin-right: 5px;
}

#publications .slick-prev,
#publications .slick-next {
  transform: translate(0, -30px) !important;
  top: 30px !important;
  width: 35px;
  height: 35px;
  background-color: #ddd;
  padding: 10px;
  border-radius: 100%;
}

#publications .slick-prev:before,
#publications .slick-next:before {
  content: "" !important;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../public/img/icons/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#publications .slick-prev:before {
  transform: rotate(-180deg);
}

#publications .slick-prev {
  left: initial !important;
  right: 45px !important;
  z-index: 200 !important ;
}

#publications .slick-next {
  right: 0px;
}

#publications .slick-slide {
  padding-top: 30px;
}

@media (max-width: 450px) {
  #publications .item {
    padding: 0 10%;
  }
}

/* Publications CSS Ends Here */

/* Notice CSS Starts Here */
.faqImageBox {
  height: 400px;
  position: relative;
}
.noticeItemBody {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
.noticeItemSpan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faqImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noticeText {
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #fff;
}

.noticeItem {
  padding: 15px 20px;
  background-color: #fff;
  border: 1px solid #e4cdba;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#notice .slick-prev:before,
#notice .slick-next:before {
  content: "" !important;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../public/img/icons/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#notice .slick-prev:before {
  transform: rotate(-180deg);
}

.noticeItem span {
  font-size: 14px;
  color: #777;
}

.noticeItem a {
  color: #222;
  transition: all 0.3s ease-in-out;
}

.noticeItem a:hover {
  color: green;
}

#notice .slick-prev {
  left: -40px;
}
#notice .slick-next {
  right: -40px;
}

@media (min-width: 992px) {
  #notice .faqImageBox {
    margin-right: 15px;
  }
}

/* Notice CSS Ends Here */

/* Facilities CSS Starts Here */

#facilities {
  background-color: #fafafa;
}

.facilitiesItem {
  background-color: #fff;
  padding: 20px 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.facilitiesImg {
  padding-top: 5px;
  max-height: 60px;
  max-width: 60px;
  object-fit: contain;
  opacity: 0.6;
}

/* Facilities CSS Ends Here */

/* Subscribe CSS Starts Here */

#subcribe {
  background-image: url("../public/img/subcribe_img.jpg");
  box-shadow: inset 0 0 0 2000px rgba(109, 109, 109, 0.75);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.inputEmail {
  text-transform: uppercase;
  border-radius: 100px !important;
  border: none !important;
  transition: all 0.7s ease;
}

#subcribe .notificationicon {
  position: relative;
}
#subcribe .bgShape {
  width: 180px;
  height: 180px;
  background-color: rgba(255, 0, 0, 0.35);
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: -115px;
  z-index: 1;
}
#subcribe .title {
  font-size: 45px;
  color: #fff;
}

#subcribe .playbutton {
  text-align: center;
  font-size: 20px;
  line-height: 55px;
  color: var(--main-highlight) !important;
  position: relative;
  z-index: 300 !important;
  background-color: #fff;
  border-radius: 100px;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
  display: flex !important;
}
#subcribe .playbutton::after {
  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 1px solid #fff;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -100 !important;
  animation: notification 2s linear infinite;
}
#subcribe .playbutton::before {
  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -100 !important;
  animation: notification 2s linear 1s infinite;
}

@keyframes notification {
  0% {
    width: 45px;
    height: 45px;
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    width: 95px;
    height: 95px;
    opacity: 0;
  }
}

#subcribe .inputEmail input {
  width: 270px !important;
  padding: 13px 45px 13px 26px;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 100px;
}
#subcribe .form-control:focus {
  box-shadow: none !important;
}
#subcribe .inputEmailBtn.btn {
  text-transform: uppercase;
  padding: 13px 26px !important;
  border-radius: 100px !important;
  background-color: var(--main-highlight) !important;
  border: none !important;
  transform: translateX(-40px);
  transition: all 0.7s ease;
}
#subcribe .inputEmailBtn.btn:hover {
  background-color: var(--main-color) !important;
}
#subcribe .emailinput {
  transform: translateX(40px);
}

@media (max-width: 991px) {
  #subcribe {
    text-align: center;
  }
  #subcribe .email {
    justify-content: center !important;
    padding-top: 15px;
    transform: translateX(-20px);
  }
  #subcribe .bgShape {
    display: none;
  }
}
@media (max-width: 450px) {
  #subcribe .inputEmail input {
    width: 200px !important;
  }
  #subcribe .inputEmailBtn.btn {
    padding: 0px 12px !important;
  }
}

/* Subscribe CSS Ends Here */

/* Partners CSS Starts Here */

#partners {
  background-image: url("../public/img/dotBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.partnersBox {
  padding: 20px 0;
}
.partnersimg {
  border-radius: 10px !important;
  width: 100%;
  height: 100px;
  padding: 37px;
  margin-left: 5px !important;
  margin-right: 5px !important;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.partnersLogo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slick-slide > div {
  margin: 0 15px;
}
.slick-list {
  margin: 0 -15px;
}

#partners .slick-prev:before,
#partners .slick-next:before {
  content: "" !important;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../public/img/icons/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#partners .slick-prev:before {
  transform: rotate(-180deg);
}

@media (max-width: 450px) {
  #partners .partnersimg {
    width: 200px !important;
    margin: auto !important;
  }
  .imageBox {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* Partners CSS Ends Here */

/* Footer CSS Starts Here */

#footer {
  background-color: #f7f7f7;
}

#footer .goBtn {
  padding: 20px;
}
#footer .footerTitle {
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #333;
}
#footer .footerTitle::after {
  content: "";
  display: inline-block;
  width: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px dashed var(--main-color);
}

#footer .footerMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#footer .footerMenu a {
  margin-bottom: 10px;
  color: #555;
  display: flex;
  transition: all 0.3s ease;
}
#footer .footerMenu a:hover {
  padding-left: 5px;
  /* color: var(--main-highlight); */
  color: green;
}
.menuIcon {
  font-size: 14px;
  margin-right: 8px;
}

.footerContact {
  position: relative;
  /* padding-right: 50px; */
  padding-left: 50px;
   margin: auto;  
}

.contacticon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 35px;
  height: 35px;
  padding: 10px;
  border-radius: 100%;
  color: var(--main-highlight);
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.footerContact {
  margin-bottom: 20px;
}
.footerContact p {
  color: #555;
  font-size: 18px;
}

.footerBottom {
  padding: 20px;
  background-color: #008000;
}
.footerItem {
  font-size: 16px;
}

.copyright {
  font-size: 12px;
  color: #fff;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.footerLogo {
  max-width: 40px;
  filter: brightness(0) invert(1);
  transform: translateY(-5px);
}

/* Footer CSS Ends Here */

/* rabeya */
/* css for services page */
.fontstyle {
  font-weight: 800;
  color: #008000;
  padding-bottom: 10px;
}
.accordion {
  font-size: 13px;
}

/* css for member page */

.sectionTitle {
  padding-left: 15px;
  padding-right: 15px;
}
/* menu dromdown button design css */
.buttondesign {
  background: #1bbbac;
  color: #383b3a;
  border-radius: 5px;
  box-shadow: 0 3px 5px #777777;
  /* width: 150px; */
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}
/* css for allmember banner design */
.Imagebanner {
  flex-shrink: 0 !important;
  /* max-width: 50%; */
  width: 100%;
  height: 200px;

  overflow: hidden;
}
.navdrop {
  /* border-bottom-style: solid; */
  border: 1px solid red;
  /* border-bottom-color: #c4c4c4;
    border-bottom-width: 1px; */
}

/* css for menu dropdown list */
.custom-btn {
  width: 106px;
  height: 40px;
  color: #fff;
  text-align: center !important;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-1 {
  background: #C3161C;
  border: none;
}
/* css for other page */

.settingItem {
  padding: 50px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #dee3f1;
}
.item {
  max-width: 800px;
  width: 100%;
  margin: auto;
  box-shadow: #0000000d 0 6px 24px, #0000000d 0 0 0 1px;
  background-color: #fff;
  padding-left: 12px;
}
.rounded {
  border-radius: var(--bs-border-radius) !important;
}
.font-16 {
  font-size: 16px;
}
.floaddis {
  text-align: end;
}
.downloaddesign {
  color: #fff;
}
.grview {
  color: #fff;
}

.justify_containt {
  text-align: justify;
}

/* css for board member */
.board_members {
  text-align: justify;
}
.publication_text {
  text-align: justify;
}

.text_publication {
  text-align: justify;
}
.carousel_text {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
.card {
  border: 1px solid green !important;
}

.gallery_text {
  text-align: center;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.activiti_text {
  text-align: justify;
}
.faq_text {
  text-align: justify;
}

/* footer back to top button css */

#backToTop {
  /* display: none; */
  position: fixed;
  bottom: 11px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffa800;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

/* header marquee css :start */

.marquee_text {
  background-color: #172f41;
  color: #fff;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 8px 15px;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee p {
  display: inline-block;
  font-size: 12px;
  animation: marquee 40s linear infinite;
  cursor: pointer;
}
.marquee_text .marquee p.stop-on-hover:hover {
  animation-play-state: paused; /* Pause the animation on hover */
  cursor: default; /* Set the cursor style to default */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* header marquee css end */

/* responsive part start */

@media (max-width: 767px) {
  #menuBar {
    background-color: RGBA(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
  }
  #Topslider {
    margin-top: 95px;
  }
  .nav_toggle {
    background-color: #fff !important;
  }
  .svg_resposi {
    display: inline-block;
  }
  #menuBar .nav-link .custom-btn {
    margin-left: 50px !important;
  }

  .navbar-collapse {
    background-color: #fff;
    padding-bottom: 20px;
  }
  #menuBar .navbar-nav {
    align-items: center;
  }
  #menuBar .nav-link {
    color: #008000 !important;
  }

  /* memberdetails page responsive */
  .AllMember {
    flex-direction: column;
  }
  .memItem2 {
    width: initial !important;
  }
  .memImage3 {
    height: initial;
  }
  .memImgbottom {
    height: 390px;
  }
  #members .memContent {
    margin-bottom: 15px;
  }
  .sectionTitle p {
    text-align: justify;
    font-size: 14px;
  }
  .Imagebanner {
    /* margin-top: 95px; */
    display: none;
  }
  .allmembershow {
    margin-top: 70px;
  }

    /* memberdetails page responsive  end*/


  /* service section resposive start */
  .fontstyle {
    margin-left: -170px;
  }
  .viewAllBtn {
    position: initial;
    padding-left: 142px;
    margin-top: 20px;
    font-size: 12px;
  }
  
/* service section resposive end */

  /* feedback section resposive start */
  
  #feedback .feedbackBanner{

    padding-bottom: 150px !important;

  }
  .feedback_text_decorate{
    text-align: justify;
  }
   /* feedback section resposive end */

    /* otherinformation section resposive start */
    .settingItem{
      margin-top: 100px !important;
    }

       /* newspage responsive start */

       .newsresponsive_padding{
        padding-top: 80px !important;   
           
}

     /* footer section responsive start */

 .copyright{
  font-size: 10px;
  color: #0DCAF0;
}

}


@media (max-width: 576px) {
  #menuBar {
    background-color: RGBA(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
  }
  #Topslider {
    margin-top: 95px;
  }
  .nav_toggle {
    background-color: #fff !important;
  }
  .svg_resposi {
    display: inline-block;
  }
  #menuBar .nav-link .custom-btn {
    margin-left: 50px !important;
  }

  .navbar-collapse {
    background-color: #fff;
    padding-bottom: 20px;
  }
  #menuBar .navbar-nav {
    align-items: center;
  }
  #menuBar .nav-link {
    color: #008000 !important;
  }

  /* memberdetails page responsive */
  .AllMember {
    flex-direction: column;
  }
  .memItem2 {
    width: initial !important;
  }
  .memImage3 {
    height: initial;
  }
  .memImgbottom {
    height: 390px;
  }
  #members .memContent {
    margin-bottom: 15px;
  }
  .sectionTitle p {
    text-align: justify;
    font-size: 14px;
  }
  .Imagebanner {
    /* margin-top: 95px; */
    display: none;
  }
  .allmembershow {
    margin-top: 70px;
  }

    /* memberdetails page responsive  end*/

  /* gallery section resposive start */
  .gallery_text h2{
    font-size: 16px;
  }
 /* gallery section resposive end */

  /* service section resposive start */
  .fontstyle {
    margin-left: -170px;
  }
  .viewAllBtn {
    position: initial;
    padding-left: 142px;
    margin-top: 20px;
    font-size: 12px;
  }

/* service section resposive end */

  /* feedback section resposive start */
  
  #feedback .feedbackBanner{
    padding-bottom: 195px !important;
  }
  .feedback_text_decorate{
    text-align: left;
  }
  #feedback .card{
    height: 380px;
  }
   /* feedback section resposive end */

    /* otherinformation section resposive start */
    .settingItem{
      margin-top:  100px !important;
    }

    /* newspage responsive start */

    .newsresponsive_padding{
              padding-top: 80px !important;       
    }
   
 /* footer section responsive start */

 .copyright{
           font-size: 8px;
           color: white;
           max-width: 230px;
 }
 .footerLogo{
  width: 20px;
  height: 20px;
  /* margin-left: -25px; */
 }

}
/* responsive part end */
